* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

body {
    height: 200vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image:url(../Image/hotel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0;
}

    
.navbar{
    background-color: #b7c6c8;
    position: sticky;
    top:0;
    width: 100vw;
    background-size: cover;
    opacity: 0.70;
}
.navbar a {
color: rgb(255, 255, 255);
display: inline-block;
padding: 20px;
width: 100%;
text-align: center;
color: black;
transition: .3s ease-out all;
font-size: 18px;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
}

.navbar a:hover {
background: #91c9df;
color: #ffffff;
text-decoration: none;
}

.contenedor {
max-width: 1000px;
width: 90%;
margin: auto;
display: flex;
justify-content: space-between;
}
   
.contenedor-centrado{
    width: 100%;
    display: flex;
    max-width: 1100px;
    background-color: rgba(217, 224, 233, 0);
    opacity: 0.85;
    margin: auto;
    padding: 20px 30px;
}

.card
{   
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.6);
    transform: translateY(-3%);
}

.card img
{
    width: 100%;
    height: 210px;




}

.contenedor-centrado .card figure img {
    width: 100%;
    height: 25vb;
    object-fit: cover; /* Opcional: Ajusta cómo se muestra la imagen dentro del contenedor */
    border-radius: 10px; /* Opcional: Redondea las esquinas */
}

h2 {
    color: #ffffff;
    font-size: 2rem; 
    text-align: center; 
    margin-top: 2rem; 
    font-family: 'Times New Roman', Times, serif; 
}

.card .contenido
{
    padding: 15;
    text-align: center;

}
.card .contenido p
{
    line-height: 1.5;
    color: #080707;
}

.card .contenido h3
{   
    font-weight: 400;
    margin-bottom: 15px;
}
