

h1 {
    margin: 50px;
    text-align: center;
}

#map {
    width: 50%;
    height: 450px;
    margin: 0 auto;
    border: 1px solid #ddd;
}
/* Estilos generales */

    
    
       
        
        

   