* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

.barra {
  /*  background-image: url(../Imagenes/ce.jpg);
    background-color: rgb(189, 238, 240); */
    background-color: #d1d1d1;
    position: sticky;
    top: 0;
    width: 100vw;
    background-size: cover;
    


}

.barra a {

    color: aqua;
    display: inline-block;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: black;
    transition: .3s ease-out all;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.barra a:hover {
    background: #080205;
    color: #ffffff;
    text-decoration: underline;
}




body {

    font-family: 'Noto Sans JP', sans-serif;	
	background: #fffefe;

    font-weight: normal;
    font-size: 100%;
    margin: 0;
    color: black;
    background-image: url(../Acerca/Imagenes/acerca.jpg);
}

.contenedor_barra {
  
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    /*le cambio la altura*/



}

#contenedor div {
    height: 500px;
    width: 335px;
    background-color: rgb(189, 238, 240);
    margin: 60px;
    text-align: center;

}

#contenedor div.mision {
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#contenedor div.mision:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#contenedor div.vision {
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#contenedor div.vision:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#contenedor div.acerca {
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#contenedor div.acerca:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}



img.img_vision {
    width: 60px;
    height: 60px;


}

img.img_mision {
    width: 60px;
    height: 60px;

}

img.img_acerca {
    width: 60px;
    height: 60px;

}